﻿@model string
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>BeerUs Together</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>*@

    <link href="~/CSS/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Script/jquery.min.js"></script>
    <script src="~/Script/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <form method="post" action="@Url.Action("PasswordValidation", "ResetPassword")">
            <div class="row">
                <div class="col-xs-12" style="text-align:center"><h3>Reset Password</h3></div>
            </div>
            <div class="row">
                <table class="table">
                    <tbody>
                        <tr>
                            <td style="text-align:right;padding-right:60px;">Password</td>
                            <td style="text-align:left"><input type="password" id="password" name="password" style="border:1px solid black;"/></td>
                        </tr>
                        <tr>
                            <td style="text-align:right">Confirm Password</td>
                            <td style="text-align:left"><input type="password" id="confirmPassword" name="confirmPassword" style="border:1px solid black;"/></td>
                        </tr>
                        <tr style="display:none">
                            <td style="text-align:right"> Request Id</td>
                            <td style="text-align:left"><input type="password" id="requestId" name="requestId" value=@Model /></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:center"><input type="submit" value="submit" class="btn btn-primary"/></td>
                        </tr>
                    </tbody>
                </table>
                @*<form method="post">
                <div>
                    Password :<input type="password" id="password" name="password" />
                </div>
                <div>
                    Confirm Password :<input type="password" id="confirmPassword" name="confirmPassword" />
                </div>
                <div>
                    Request Id: <input type="password" id="requestId" name="requestId" value=@Model />
                </div>
                <div>
                    <input type="submit" value="submit" />
                </div>
            </form>*@
            </div>
        </form>
    </div>
</body>
</html>

